html, body {
    background-color: #2b2b2b;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}
h1 {
    width: 100%;
    text-align: center;
}
h2 {
    margin-left: 2.5vw;
}
h3 {
    margin-left: 5vw;
}
.help-container {
    width: 90%;
    margin-left: 5vw;
    background-color: #444444;
    box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.75);
}
.table {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    width: 90vw;
    margin-left: 5vw;
    box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.75);
}
.table-header, .table-content {
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    min-height: 30px;
}
.table-header {
    font-weight: bold;
    background-color: #333333;
}
.table-content {
    background-color: #444444;
}
.cell {
    width: calc(90% / 9);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid #333333;
}
.range-bar {
    width: 100%;
}
#tickmarks {
    display: flex;
    width: calc(90vw / 9);
}
.range-option {
    text-align: center;
    width: 10%;
}
.empty {
}